body {
	margin: 0;
	font-family: sans-serif;
}

th, td {
	padding: 0px 20px 0px 20px;
	text-align: center;
	margin: 0;
}

table {
	width: 60%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

.form-button {
	padding: 25px;
	height: 20px;
}

form {
	padding: 50px;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}